[Unit]
Description=Atlassian JIRA Core
After=network-online.target
After=postgresql.service
Requires=postgresql.service

[Service]
User={{jira_user}}
Group={{jira_user}}

ExecStart={{jira_base}}/current/bin/catalina.sh run
Environment=JIRA_HOME={{jira_home}} {% if jira_setup %} JAVA_OPTS=-Datlassian.dev.mode=true {% endif %}


[Install]
WantedBy=multi-user.target
